@font-face {
    font-family: "Noto";
    src: url(./font/NotoSansCJKsc-Black.otf);
}
.body {
    width: 1600px;
}
.bg-line {
    position: relative;
    display: inline-block;
    margin-top: 200px;
}

.info {
    position: absolute;
    left: 127px;
    top: 53px;
    display: inline-block;
}

.info-img {
    position: relative;
    display: inline-block;
    width: 114px;
    height: 114px;
}
.info-img .info-i:hover .info-normal {
    opacity: 0;
}

.info-hover {
    position: absolute;
}

.info-normal {
    position: absolute;
}

.info-i {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    z-index: 15;
}

.info-normal:hover {
    opacity: 0;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.info-i:hover .info-normal {
    opacity: 0;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.total {
    position: absolute;
    left: 250px;
    top: 63px;
}

.total-img {
    position: relative;
    display: inline-block;
    width: 402px;
    height: 112px;
}

.total-img-minus {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    padding-left: 10px;
}

.total-img-relative {
    position: relative;
    display: inline-block;
    width: 96px;
    height: 96px;
}

.bet-hover-minus {
    position: absolute;
    top: 0;
    left: 0;
}

.set-down {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.total-img-plus {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-100%, -50%);
    -webkit-transform: translate(-100%, -50%);
    -moz-transform: translate(-100%, -50%);
    -ms-transform: translate(-100%, -50%);
    -o-transform: translate(-100%, -50%);
    padding-right: 10px;
}

.bet-normal {
    position: absolute;
}

.bet-normal:hover {
    opacity: 0;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.bet-hover-plus {
    position: absolute;
    top: 0;
    left: 100%;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
}

.set-up {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.coin {
    position: absolute;
    top: 63px;
    left: 660px;
}

.win {
    position: absolute;
    top: 20px;
    left: 860px;
}

.turbo {
    position: absolute;
    top: 63px;
    left: 1722px;
}

.switch {
    width: 168px;
    height: 106px;
    position: relative;
}

.switch-for::after {
    content: "";
    background: url(./img/turbo-off.png);
    width: 168px;
    height: 106px;
    display: inline-block;
    position: absolute;
}

.switch-for::before {
    content: "";
    background: url(./img/turbo-normal.png);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1;
    display: inline-block;
    width: 168px;
    height: 80px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.switch-btn {
    display: none;
}

.switch-btn:checked+.switch-for::before {
    top: 27px;
    background: url(./img/turbo-disale.png);
    background-position: center;
    background-repeat: no-repeat;
}

input:checked {
    background: url(./img/turbo-on.png);
    width: 168px;
    height: 106px;
}

.spin {
    position: absolute;
    background: url(./img/spin-select.png);
    background-position: center;
    background-size: cover;
    width: 380px;
    height: 380px;
    position: absolute;
    left: 1904px;
    bottom: 32px;
    display: none;
}

.spin:hover {
    display: inline-block;
}

.spin-item {
    width: 25px;
    height: auto;
}

.spin__select {
    font-family: "Noto";
    text-transform: uppercase;
    font-size: 25px;
    color: #ffd100;
    list-style: none;
    cursor: pointer;
}

.spin__select li:hover {
    color: #fff;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.auto {
    position: absolute;
    top: 58px;
    left: 1897px;
}

.auto-btn {
    position: relative;
    width: 402px;
    height: 114px;
    background: url(./img/auto-normal.png);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
}

.wr-spin:hover .auto-btn {
    background: url(./img/auto-hover.png);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.auto-img {
    top: 50%;
    position: absolute;
    left: 18%;
    transform: translate(0, -50%);
}

.wr-spin:hover .spin {
    display: inline-block;
    transition: .8s;
    -webkit-transition: .8s;
    -moz-transition: .8s;
    -ms-transition: .8s;
    -o-transition: .8s;
}

.play {
    position: absolute;
    display: inline-block;
    background: url(./img/btn-spin-normal.png);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    top: -68px;
    left: 2100px;
}

.play-ico {
    position: relative;
    width: 353px;
    height: 353px;
}

.play-ico-btn{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.play-ico:hover img {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transition: .8s;
  -webkit-transition: .8s;
  -moz-transition: .8s;
  -ms-transition: .8s;
  -o-transition: .8s;
}

.play:hover {
    background: url(./img/btn-spin-hover.png);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}